venv_happyschool/
*__pycache__*
.idea
db.sqlite3
*~
node_modules
assets/bundles/
*.pdf
happyschool/settings.py
static/bundles/
.coverage
static/photos/*jpg
!static/photos/unknown.jpg
Pipfile.lock
docs/_build/
package-lock.json
