venv_happyschool/
*__pycache__*
.idea
db.sqlite3
*~
node_modules
assets/bundles/
*.pdf
happyschool/settings.py
.coverage
static/photos/*jpg
!static/photos/unknown.jpg
Pipfile.lock
docs/_build/
package-lock.json
/static/
.hotfile
.directory
.vscode/
libreschoolfdb
