[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
seleniumbase = "*"
sphinx = "*"

[packages]
django-filter = "==21.1"
redis = "*"
channels-redis = "==3.3.1"
channels = "==3.0.5"
django-crispy-forms = ">=1.7"
django-auth-ldap = ">=1.7"
coverage = "*"
psycopg2-binary = "<2.10"
celery = "==4.4.7"
django-webpack-loader = "==0.7.0"
djangorestframework = "*"
ldap3 = "*"
requests = "==2.28.1"
icalendar = "*"
django-bootstrap3-datetimepicker = {git = "https://github.com/Supermanu/django-bootstrap3-datetimepicker.git",ref = "dcb355c28755475932a79bf49e15ee6e60552b90"}
django-weasyprint = "==1.0.2"
social-auth-app-django = "*"
Django = "==4.0.6"
Unidecode = "*"
"z3c.rml" = "*"
PyPDF2 = "*"
XlsxWriter = "*"
WeasyPrint = "==56.1"
python-escpos = "*"
xlwt = "*"
python-dateutil = "*"
django-cas-ng = "*"

[requires]
python_version = "3.8"
