[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
selenium = "*"
sphinx = "*"

[packages]
django-filter = "==2.4.0"
redis = "*"
channels-redis = "==2.4.2"
channels = "==2.4.0"
django-crispy-forms = ">=1.7"
django-auth-ldap = ">=1.7"
coverage = "*"
psycopg2-binary = "*"
celery = "==4.4.7"
django-webpack-loader = "==1.0.0"
djangorestframework = "*"
ldap3 = "*"
requests = "==2.25.1"
icalendar = "*"
django-bootstrap3-datetimepicker = {git = "https://github.com/Supermanu/django-bootstrap3-datetimepicker.git",ref = "dcb355c28755475932a79bf49e15ee6e60552b90"}
django-weasyprint = "*"
social-auth-app-django = "*"
Django = "==2.2.22"
Unidecode = "*"
"z3c.rml" = "*"
PyPDF2 = "*"
XlsxWriter = "*"
WeasyPrint = "*"
python-escpos = "*"
xlwt = "*"
python-dateutil = "*"
django-cas-ng = "*"

[requires]
python_version = "3.7"
