django>=2.2.3,<2.3
django-filter>=2.0
redis
channels>=2.1
channels_redis>=2.2
unidecode
z3c.rml
PyPDF2
django-crispy-forms>=1.7
django_auth_ldap>=1.7
coverage
psycopg2-binary
celery>=4
django-webpack-loader
djangorestframework
ldap3
XlsxWriter
requests==2.20.1
icalendar
git+https://github.com/Supermanu/django-bootstrap3-datetimepicker.git@dcb355c28755475932a79bf49e15ee6e60552b90#egg=django-bootstrap3-datetimepicker
weasyprint
django_weasyprint
social-auth-app-django
selenium
