{% extends "core/base_vue.html" %}

{% load vite %}

{% block header %}
<title>HappySchool : Annuaire</title>
<link rel="manifest" href="/static/manifest/happyschool.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="DC-Covers">
<meta name="msapplication-TileImage" content="link to the image in static folder">
<meta name="msapplication-TileColor" content="#000">
{% vite %}
{% vite "annuaire/js/annuaire.js" %}

{% endblock %}
{% block content %}
<script>
    const current_app = "annuaire";
    var settings = JSON.parse('{{ settings|safe }}');
    const menu = {{ menu|safe }};
</script>
<div id="vue-app">
    <img class="loading-spin" src="/static/img/spin.svg" alt="Loading" />
</div>

{% endblock %}
