{% extends "core/base.html" %}

{% block content %}
<div class="container">
    <div class="row panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Information générale</h3>
        </div>
        <div class="panel-body">
            <div id="info"></div>
        </div>
    </div>
    <script>
        $.get("{% url 'info' eleve.matricule %}", function(data) {
            $('#info').html(data);
            });
    </script>
    {% if app_infirmerie and perms.infirmerie.access_infirmerie %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Derniers passages à l'<a href="{% url 'infirmerie' %}?filtre={{ eleve.fullname }}">infirmerie</a>
                </h3>
            </div>
            {% if infirmerie %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Arrivé</th>
                        <th>Sortie</th>
                        <th>Motifs d'admission</th>
                        <th>Remarques de sortie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for passage in infirmerie %}
                    <tr>
                        <td>{{ passage.datetime_arrive }}</td>
                        <td>{{ passage.datetime_sortie }}</td>
                        <td>{{ passage.motifs_admission }}</td>
                        <td>{{ passage.remarques_sortie }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if app_appels and perms.appels.view_appels %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Derniers <a href="{% url 'appels' %}?filtre={{ eleve.surname }}">appels</a>
                </h3>
            </div>
            {% if appels %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Heure</th>
                        <th>Objet</th>
                        <th>Motif</th>
                        <th>Commentaire</th>
                        <th>Traitement</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appel in appels %}
                    <tr>
                        <td>{{ appel.datetime_appel }}</td>
                        <td>{{ appel.objet }}</td>
                        <td>{{ appel.motif }}</td>
                        <td>{{ appel.commentaire }}</td>
                        <td>{{ appel.traitement }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if app_dossier_eleve and perms.dossier_eleve.access_dossier_eleve %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Dernières infos du <a href="{% url 'dossier_eleve' %}?filtre={{ eleve.surname }}">dossier des éducateurs</a>
                </h3>
            </div>
            {% if dossier_eleve %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Heure</th>
                        <th>Objet</th>
                        <th>Motif</th>
                        <th>Commentaire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cas in dossier_eleve %}
                    <tr>
                        <td>{{ cas.datetime_encodage }}</td>
                        <td>{% if cas.info %}{{ cas.info }}{% endif %}</td>
                        <td>{% if cas.sanction_decision %}{{ cas.sanction_decision }}{% endif %}</td>
                        <td>{{ cas.explication_commentaire }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
