{% if teachers %}
    <div class="row">
        <table class="table col-xs-12">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Enseignement</th>
                </tr>
            </thead>
            <tbody class="recherchable">
                {% for teacher in teachers %}
                <tr class="clickable" onclick="document.location = '{% url 'summary_teacher' teacher.matricule %}'">
                    <td>{{ teacher.last_name }}</td>
                    <td>{{ teacher.first_name }}</td>
                    <td>{% for teaching in teacher.teaching.all %}{{ teaching.display_name }} {% endfor %}</td>
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<script>
</script>