{% extends "core/base_vue.html" %}

{% load vite %}

{% block header %}
<title>HappySchool : PIA</title>

{% vite %}
{% vite "pia/js/pia.js" %}

{% endblock %}
{% block content %}
<script>
    const current_app = "pia";
    const settings = JSON.parse('{{ settings|safe }}');;
    const menu = {{ menu|safe }};
    const filters = {{ filters|safe }};
    const canAddPIA = {{ can_add_pia|safe }};
    const disorderResponseCategories = {{ disorder_response_category|safe }};
    const disorderResponses = {{ disorder_responses|safe }};
    const lastAccess = "{{ pia_last_access|safe }}";
    const groups = {{ groups|safe }};
</script>
<div id="vue-app">
    <img class="loading-spin" src="/static/img/spin.svg" alt="Loading" />
</div>

{% endblock %}
