<html>
    <head>
        <meta charset="utf-8">
        <title>PIA: {{ pia.student }}</title>
    </head>
    <body>
        <style>
            @charset "UTF-8";
            @page {
                margin: 1cm;
                counter-increment: page;
                @bottom-right {
                    content: "Page " counter(page) "/" counter(pages);
                    border-top: .25pt solid #666;
                    width: 50%;
                }
            }

            html {
                font-size: 0.9em;
            }

            p {
                text-align: justify;
            }

            img {
                width: 100px;
            }

            .nexttoimg {
                margin-left: 5%;
                flex-grow: 2;
            }

            .row {
                display: flex;
            }

            .column {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }

            .spaced {
                justify-content: space-between;
            }

            .h-padding {
                padding-left: 0.5em;
                padding-right: 0.5em;
            }

            .border-left {
                border-left: grey 1px solid;
                padding-left: 0.5em;
            }

            h2 {
                page-break-before: always;
            }

            h2:first-of-type {
                page-break-before: avoid;
            }

            .nopagebreak {
                page-break-inside: avoid;
            }
        </style>
        <h1>PIA : {{ pia.student.fullname_classe }}</h1>
        <h2>Élève</h2>
        <div class="row">
            <div>
                <img src="/static/photos/{{ pia.student.matricule }}.jpg" />
            </div>
            <div>
                <dl>
                    <dt>Référent(s)</dt>
                    <dd>
                        <ul>
                            {% for r in pia.referent.all %}
                            <li>{{ r }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>Parrain/Marraine</dt>
                    <dd>
                        <ul>
                            {% for s in pia.sponsor.all %}
                            <li>{{ s }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
        <h3>Aménagements</h3>
        <div class="row">
            <dl>
                <dt>Trouble d'apprentissage</dt>
                <dd>
                    <ul>
                        {% for d in pia.disorder.all %}
                        <li>{{ d }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="row">
            <dl>
                <dt>Aménagements raisonnables liés au trouble</dt>
                <dd>
                    <ul>
                        {% for d_r in pia.disorder_response.all %}
                        <li>{{ d_r }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="row">
            <dl>
                <dt>Aménagements d'horaire</dt>
                <dd>
                    <ul>
                        {% for s_a in pia.schedule_adjustment.all %}
                        <li>{{ s_a }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="row">
            <dl>
                <dt>Autres aménagements</dt>
                <dd>
                    {{ pia.other_adjustments|safe }}
                </dd>
            </dl>
        </div>

        {% if pia.classcouncilpiamodel_set.all %}
        <h2>Conseils de classe</h2>
        {% for council in pia.classcouncilpiamodel_set.all %}
        <div>
            <div>
                <h3>{{ council.date_council }}</h3>
                {% for branch in council.branchstatementmodel_set.all %}
                    <div>
                        <strong>{{ branch.branch }}</strong>
                        <div class="row spaced">
                            <div class="h-padding">
                                <em>Ressources</em>
                                <div class="border-left">
                                    {{ branch.resources|safe }}
                                </div>
                            </div>
                            <div class="h-padding">
                                <em>Difficultés</em>
                                <div class="border-left">
                                    {{ branch.difficulties|safe }}
                                </div>
                            </div>
                            {% if branch.others %}
                            <div class="h-padding">
                                <em>Autres</em>
                                <div class="border-left">
                                    {{ branch.others|safe }}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>    
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        
        {% if pia.crossgoalmodel_set.all or pia.branchgoalmodel_set.all %}
        <h2>Objectifs</h2>
        <h3>Objectifs transversaux</h3>
        {% for obj in pia.crossgoalmodel_set.all %}
            <div>
                <strong>Du {{ obj.date_start }} au {{ obj.date_end }} :</strong>
                <dl>
                    <dt>Objectifs transversaux</dt>
                    <dd>
                        <strong>{{ obj.cross_goals }}</strong>
                    </dd>
                    <dt>Intervenant(s)</dt>
                    <dd>
                        <ul>
                            {% for r in obj.responsible.all %}
                            <li>{{ r }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                    <div class="row spaced">
                        <div class="h-padding">
                            <em>Indicateur(s)/Action(s)</em>
                            <div class="border-left">
                                {{ obj.indicator_action|safe }}
                            </div>
                        </div>
                        <div class="h-padding">
                            <em>Aide(s)</em>
                            <div class="border-left">
                                {{ obj.given_help|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="row spaced">
                        <div class="h-padding">
                            <em>Auto-évaluation</em>
                            <div class="border-left">
                                {{ obj.self_assessment|safe }}
                            </div>
                        </div>
                    </div>
                    {% if obj.assessment %}
                    <div class="h-padding">
                        <em>Évaluation</em>
                        <div class="border-left">
                            <p>
                            {{ obj.assessment }}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </dl>
            </div>
        {% endfor %}
        <div class="nopagebreak">
            <h3>Objectifs de branche</h3>
            {% for obj in pia.branchgoalmodel_set.all %}
                <div>
                    <strong>{{ obj.branch }}, du {{ obj.date_start }} au {{ obj.date_end }} :</strong>
                    <dl>
                        <dt>Objectifs de branche</dt>
                        <dd>
                            <strong>{{ obj.branch_goals }}</strong>
                        </dd>
                        <dt>Intervenant(s)</dt>
                        <dd>
                            <ul>
                                {% for r in obj.responsible.all %}
                                <li>{{ r }}</li>
                                {% endfor %}
                            </ul>
                        </dd>
                        <div class="row spaced">
                            <div class="h-padding">
                                <em>Indicateur(s)/Action(s)</em>
                                <div class="border-left">
                                    {{ obj.indicator_action|safe }}
                                </div>
                            </div>
                            <div class="h-padding">
                                <em>Aide(s)</em>
                                <div class="border-left">
                                    {{ obj.given_help|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="row spaced">
                            <div class="h-padding">
                                <em>Auto-évaluation</em>
                                <div class="border-left">
                                    {{ obj.self_assessment|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="h-padding">
                            <em>Évaluation</em>
                            <div class="border-left">
                                <p>
                                {{ obj.assessment }}
                                </p>
                            </div>
                        </div>
                    </dl>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if pia.parentsopinionmodel_set.all or pia.studentprojectmodel_set.all %}
        <h2>Projet et avis</h2>
        <h3>Projet de l'élève</h3>
        {% for p in pia.studentprojectmodel_set.all %}
        <div class="nexttoimg">
            <strong>{{ p.date_student_project }}</strong>
            {{ p.student_project|safe }}
        </div>
        {% endfor %}
        <h3>Avis des parents</h3>
        {% for p in pia.parentsopinionmodel_set.all %}
        <div class="nexttoimg">
            <strong>{{ p.date_parents_opinion }}</strong>
            {{ p.parents_opinion|safe }}
        </div>
        {% endfor %}
        {% endif %}
    </body>
</html>
