{% extends "core/email.html" %}

{% block content %}
<h2>Appel</h2>
<p>Bonjour,<p>
<p>Un appel a été reçu.</p>
{% if appel.is_student %}
<div align='justify'><p align='center'><img src='cid:{{ etudiant.matricule }}.jpg' width='90' height='136'></p></div>
<dl>
    <dt>Concerne</dt>
    <dd><strong>{% if appel.is_student %}{{ etudiant.display }}{% else %}{{ appel.name }}{% endif %}</strong></dd>
    <dt>Objet</dt>
    <dd>{{ appel.object.display }}</dd>
    <dt>Motif</dt>
    <dd><strong>{{ appel.motive.display }}</strong></dd>
    <dt>Date et heure de l'appel</dt>
    <dd>{{ appel.datetime_appel|date:'d/m/y à H:i' }}</dd>
    <dt>Période</dt>
    <dd>
        Du {{ appel.date_motif_start}} {% if appel.time_motif_start %}à {{ appel.time_motif_start }}{% endif %}
        au {{ appel.date_motif_end }}  {% if appel.time_motif_end %}à {{ appel.time_motif_end }}{% endif %}
    </dd>
    <dt><strong>Commentaire(s)</strong></dt>
    <dd>{{ appel.commentaire }}</dd>
    {% if appel.is_student %}
    <dt>Email resp.</dt>
    <dd>
        {% if etudiant.additionalstudentinfo.resp_email %}
        <a href='mailto:{{ etudiant.additionalstudentinfo.resp_email }}'>{{ etudiant.additionalstudentinfo.resp_email }}</a>
        {% else %}
        Aucune donnée disponible
        {% endif %}
    </dd>
    <dt>Tel. resp.</dt>
    <dd>
        {% if etudiant.additionalstudentinfo.resp_phone %}
        {{ etudiant.additionalstudentinfo.resp_phone }}
        {% else %}
        Aucune donnée disponible
        {% endif %}
    </dd>
    <dt>GSM resp.</dt>
    <dd>
        {% if etudiant.additionalstudentinfo.resp_mobile %}
        {{ etudiant.additionalstudentinfo.resp_mobile }}
        {% else %}
        Aucune donnée disponible
        {% endif %}
    </dd>
    {% endif %}
</dl>
<p>Merci de réserver la meilleure suite à cet e-mail.</p>
<p>Bonne journée,</p>
<p>L'équipe de l'accueil.</p>

{% endif %}
{% endblock %}
