{% extends "core/base.html" %}

{% block header %}
{% load staticfiles %}
        <link href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}" type="text/css" media="all" rel="stylesheet">
        <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/locale/fr-be.js' %}"></script>
        <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Appels</h2>
    <div class="row hidden-print">
        {% if perms.appels.add_appel %}
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url 'nouvel_appel' %}"
                data-target="#myMod" data-remote="false" onclick="changeModelHeader('Nouvel appel');">
            Nouvel appel
        </button>
        {% endif %}
        <a type="button" id="showAll" class="btn btn-default btn-lg clickable" onclick="toggleActive()">Montrer tous les appels</a>
        <div class=" col-sm-3 pull-right">
            <div id="filter-text" class="input-group">
                <input id="filter" type="text" class="form-control input-lg" placeholder="Recherche…" href="#" autocomplete="off" autofocus>
                <div class="input-group-btn"><button class="btn btn-default btn-lg" id="filter-button" type="button" onclick="filterRow()"><span class="glyphicon glyphicon-search"></span></button></div>
            </div>
            <div id="filter-date" class="form-inline">
                <input id="filter-date-1" type="text" class="form-control input-lg" placeholder="De…" href="#" size="8">
                <input id="filter-date-2" type="text" class="form-control input-lg" placeholder="à…" href="#" size="8">
                <button class="btn btn-default btn-lg" id="filter-button-date" type="button" onclick="filterRow()"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
        <div class="form-inline col-sm-4 pull-right">
            <label>Filtrer : </label>
            <select id="filter-select" class="form-control input-lg" autocomplete="off">
                {% for f in filters %}
                <option value="{{ f.val }}">{{ f.display }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row" id="table" style="display:none;"></div>

    <div class="modal fade" id="myMod" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var active = 1;
    var page = 1;
    var ens = "all";
    var sortBy = "datetime_appel";
    var order = "asc";
    var rpp = 20;
    var filter = "name";
    var data1 = "";
    var data2 = "";

    function getParameters() {
        return "?sortBy=" + sortBy + "&ens=" + ens + "&page=" + page + "&order=" + order + "&rpp=" + rpp + "&filter=" + filter + "&data1=" + data1 + "&data2=" + data2 + "&active=" + active;
    }

    function updateTable() {
        $('#table').fadeOut(50);
        $.get( {
        url: "{% url 'get_appels' %}" + getParameters(),
        success: function (data) {
                $('#table').html(data);
                $('#table').fadeIn(500);
                $.getScript("{% static 'js/paginator-column.js' %}");
            }
        });
    }

   function toggleActive() {
    var showAll = $("#showAll");
        if (active == 1) {
            active = 0;
            showAll.text('Montrer les appels actifs');
        } else {
            active = 1;
            showAll.text('Montrer tous les appels');
        }

        updateTable();
   }
</script>
<script src="{% static 'js/async-table.js' %}"></script>
{% endblock %}
