<div class="row">
    <div class="col-sm-4">
        {% load staticfiles %}
        <img id="photoEleve" src="{% static '' %}photos/{% if appel.is_student %}{{ appel.matricule.matricule }}{% endif %}.jpg" class="img-responsive"
             alt="Photo">
    </div>
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}

</div>

<script type="text/javascript">
 $('#id_custom_email').typeahead({
     ajax: '{% url "get_teachers_emails" %}',
     items: 14
 });

$("#id_datetime_appel_pickers").datetimepicker({
    defaultDate: moment("{{ appel.datetime_appel }}", "DD MMM YYYY HH:mm"),
    locale: 'fr',
    sideBySide: true,
    allowInputToggle: true
});

$("#div_id_datetime_traitement").datetimepicker({
    defaultDate: moment({% if traiter %}"{{ appel.datetime_traitement }}", "DD MMM YYYY HH:mm"{% endif %}),
    locale: 'fr',
    sideBySide: true,
    allowInputToggle: true
});

// Hide custom email input if not checked.
var custom_email_checkbox = $("input[value=19]");
var custom_email_input = $("#custom_email");
if (custom_email_checkbox.is(':checked')) {
    custom_email_input.show();
}
custom_email_checkbox.change(function() {
    custom_email_input.fadeToggle();
});
</script>
