<html>
<head>
   <meta charset="UTF-8">
</head>

<body>
  <div>
      <div>
      <h2>Infirmerie</h2>
      <p>Bonjour,</p>
      <p>Pour information, {{ eleve.last_name }} {{ eleve.first_name }} est entré(e) à l'infirmerie à {{ passage.datetime_arrive }}.</p>
      <p>Voici le commentaire d'admission laissé à ce sujet par l'équipe de l'infirmerie :</p>
      <p>{{ passage.motifs_admission }}</p>
      <p>Vous pouvez contacter l'infirmerie par téléphone au 180 pour plus de renseignements. Par ailleurs, vous serez avertis par mail lorsque l'élève quittera l'infirmerie</p>
      <p>Bonne journée,</p>
      <p>L'équipe de l'infirmerie.</p>
      </div>
      <div>
	  <div>
	      <h3>{{ eleve.last_name }} {{ eleve.first_name }}</h3>
	  </div>
	  <div style="float:left;margin-right:20px;">
	      <img src="cid:{{ eleve.matricule }}.jpg"></img>
	  </div>
      <table>
        <tbody>
          <tr>
          <td>Nom</td>
          <td>{{ eleve.last_name }}</td>
          </tr>
          <tr>
          <td>Prénom</td>
          <td>{{ eleve.first_name }}</td>
          </tr>
          <tr>
          <td>Matricule</td>
          <td>{{ eleve.matricule }} </td>
          </tr>
          <tr>
          <td>Enseignement</td>
          <td>{{ eleve.teaching.display_name }} </td>
          </tr>
          <tr>
          <td>Classe</td>
          <td>{{ eleve.classe.compact_str }}</td>
          </tr>
          <tr>
          <td>Date de naissance</td>
          <td>{{ eleve.additionalstudentinfo.birth_date }}</td>
          </tr>
          <tr>
          <td>Adresse</td>
          <td>{{ eleve.additionalstudentinfo.street }} <br /> {{ eleve.additionalstudentinfo.postal_code }} - {{ eleve.additionalstudentinfo.locality }}</td>
          </tr>
          <tr>
          <td>Téléphone responsable</td>
          <td>{% if eleve.additionalstudentinfo.resp_phone %}{{ eleve.additionalstudentinfo.resp_phone }}{% endif %}</td>
          </tr>
          <tr>
          <td>GSM responsable</td>
          <td>{% if eleve.additionalstudentinfo.resp_mobile %}{{ eleve.additionalstudentinfo.resp_mobile }}{% endif %}</td>
          </tr>
          <tr>
          <td>Email responsable</td>
          <td>{% if eleve.additionalstudentinfo.resp_email %}<a href="mailto:{{ eleve.additionalstudentinfo.resp_email }}">{{ eleve.additionalstudentinfo.resp_email }}{% endif %}</a></td>
          </tr>
          <tr>
          <td>Téléphone mère</td>
          <td>{% if eleve.additionalstudentinfo.mother_phone %}{{ eleve.additionalstudentinfo.mother_phone }}{% endif %}</td>
          </tr>
          <tr>
          <td>GSM mère</td>
          <td>{% if eleve.additionalstudentinfo.mother_mobile %}{{ eleve.additionalstudentinfo.mother_mobile }}{% endif %}</td>
          </tr>
          <tr>
          <td>Email mère</td>
          <td>{% if eleve.additionalstudentinfo.mother_email %}{{ eleve.additionalstudentinfo.mother_email }}{% endif %}</td>
          </tr>
          <tr>
          <td>Téléphone père</td>
          <td>{% if eleve.additionalstudentinfo.father_phone %}{{ eleve.additionalstudentinfo.father_phone }}{% endif %}</td>
          </tr>
          <tr>
          <td>GSM père</td>
          <td>{% if eleve.additionalstudentinfo.father_mobile %}{{ eleve.additionalstudentinfo.father_mobile }}{% endif %}</td>
          </tr>
          <tr>
          <td>Email père</td>
          <td>{% if eleve.additionalstudentinfo.father_email %}{{ eleve.additionalstudentinfo.father_email }}{% endif %}</td>
          </tr>
          <tr>
          <td>Médecin</td>
          <td>{% if eleve.medecin %}{{ eleve.medecin }}{% endif %}</td>
          </tr>
          <tr>
          <td>Téléphone médecin</td>
          <td>{% if eleve.additionalstudentinfo.doctor %}{{ eleve.additionalstudentinfo.doctor }}{% endif %}</td>
          </tr>
          <tr>
          <td>Mutuelle</td>
          <td>{% if eleve.additionalstudentinfo.mutual %}{{ eleve.additionalstudentinfo.mutual }}{% endif %}</td>
          </tr>
          <tr>
          <td>Numéro mutuelle / <br />infos complémentaires</td>
          <td>{% if eleve.additionalstudentinfo.mutual_number %}{{ eleve.additionalstudentinfo.mutual_number }}{% endif %}<br /> {% if eleve.additionalstudentinfo.medical_information %}{{ eleve.additionalstudentinfo.medical_information }}{% endif %}</td>
          </tr>
      </table>
      </div>
  </div>
</body>
</html>
