<div class="row">
    <div class="col-sm-4">
        {% load staticfiles %}
        <img id="photoEleve" src="{% static '' %}photos/{{ matricule.matricule }}.jpg" class="img-responsive" alt="Photo élève">
    </div>
    <div>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>

<script type="text/javascript">
    $("#div_id_datetime_sortie").datetimepicker({
    defaultDate: moment({% if sorti %}"{{ datetime_sortie }}", "DD MMM YYYY HH:mm"{% endif %}),
    locale: 'fr',
    sideBySide: true,
    allowInputToggle: true
    });
    $("#div_id_datetime_arrive").datetimepicker({
    locale: 'fr',
    sideBySide: true,
    allowInputToggle: true
    });
</script>



