<!doctype html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="manifest" href="/static/manifest/happyschool.json" />
        {% block header %}{% endblock %}
        <style>
            .loading-spin {
                width: 6%;
                margin-left: 47%;
                margin-bottom: 500px;
                margin-top: 100px;
            }

            footer, footer a {
                color: white;
            }
        </style>
    </head>

    <body class="d-flex h-100 flex-column">
        <script>
            {% load groups %}
            {% load user_properties %}
            {% load scholar_year %}

            const user = "{{ user }}";
            var user_properties_raw = {% list_user_properties %};
            if (user_properties_raw) {
                user_properties_raw.given_courses = JSON.parse(user_properties_raw.given_courses);
            }
            const user_properties = user_properties_raw;
            const user_groups = {% list_user_groups %};
            const current_scholar_year = {% current_scholar_year %};

        </script>
        <header></header>
        <main class="flex-shrink-0 mb-2">
            {% block content %}{% endblock %}
        </main>
        <footer id="sticky-footer" class="py-3 bg-secondary mt-auto text-white">
            <div class="container text-center">
              <small><a class="text-info" href="https://github.com/ISLNamur/happyschool" >HappySchool</a> est un logiciel libre sous licence
                <a class="text-info" href="https://fr.wikipedia.org/wiki/GNU_Affero_General_Public_License">AGPL</a>.</small>
            </div>
        </footer>
    </body>
</html>
