<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HappySchool: Sanction concernant {{ student.fullname_classe }}</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>{{ student.fullname_classe }} a reçu une sanction de type «{{ sanction.sanction_decision.sanction_decision }}»
        le {{ sanction.datetime_encodage|date:"d/m/Y" }} :
    </p>
    <p>{{ sanction.explication_commentaire|safe }}</p>
    <br>
    <p>Pour plus d'informations, merci de contacter les éducateurs et/ou coordonnateurs de l'étudiant.</p>
    <p>Bien à vous,</p>
    <p>L'équipe éducative de l'école</p>
</body>
</html>
