{% load staticfiles %}
<div class="row">
    <div class="col-sm-4">
        <img id="photoEleve" src="{% static '' %}photos/{{ matricule }}.jpg" class="img-responsive" alt="Photo élève">
    </div>
    <div>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>

    <script>
        var is_coord = {% if is_coord %}true{% else %}false{% endif %};
        var is_educ = {% if is_educ %}true{% else %}false{% endif %};
    </script>
    <script>
        $("option[value='default']").attr("disabled", "disabled")
        if ($("#div_id_est_disciplinaire input:checked").length == 0) {
            $("#submit-id-submit").prop( "disabled", true );
        }

         $('#nomForm').typeahead({
             ajax: '{% url "get_people_names" "secondaire" "student" 1 %}',
             items: 14,
             onSelect: function (suggestion) {
                 $("#matriculeForm").val(suggestion.value);
                 add_student_data(suggestion.value);
             },
             matcher: function (item) {
                return true
             }
         });

         $('#matriculeForm').typeahead({
             ajax: '{% url "get_students_matricules" %}',
             items: 14,
             onSelect: function (suggestion) {
                 $("#nomForm").val(suggestion.value);
                 add_student_data(suggestion.text);
             }
         });
         $('#id_demandeur').typeahead({
             ajax: '{% url "get_people_names" "secondaire" "responsible" %}',
             items: 14
         });

         $('input:radio').change(function () {
            $("#submit-id-submit").prop( "disabled", false);
            var est_discip = $(this).attr('value') == 'disciplinaire' ? true : false;
            if (est_discip) {
                $('#div_id_info').parent().addClass('hidden');
                $('#div_id_sanction_decision').parent().parent().removeClass('hidden');
                $("#id_info").removeAttr("required", "");
                $("#id_sanction_decision").attr("required", "");
            } else {
                $('#div_id_info').parent().removeClass('hidden');
                $('#div_id_sanction_decision').parent().parent().addClass('hidden');
                $("#id_info").attr("required", "");
                $("#id_sanction_decision").removeAttr("required", "");
            }
         });

         $('#id_conseil_discipline').change(function () {
            $('#div_id_datetime_conseil').parent().toggleClass("hidden");
         });

         $("#div_id_datetime_sanction").datetimepicker({
            defaultDate: moment(),
            locale: 'fr',
            sideBySide: true,
            allowInputToggle: true
        });
        $("#div_id_datetime_conseil").datetimepicker({
            defaultDate: moment(),
            locale: 'fr',
            sideBySide: true,
            allowInputToggle: true
        });

        if ($("#nomForm").val() == "") {
            $("#nomForm").focus();
        } else {
            $("#nomForm").prop("readonly", true);
            $("#matriculeForm").prop("readonly", true);
        }

        if (!is_coord) {
            $("#id_visible_by_educ").prop("readonly", true).prop("checked", true).click(function(){return false});
        }
        if (!is_educ && !is_coord) {
            $("#id_visible_by_tenure").prop("readonly", true).prop("checked", true).click(function(){return false});
            $("#id_est_disciplinaire_2").prop("disabled", true);
            $("#div_id_send_to_teachers").prop("readonly", true).prop("checked", false).click(function(){return false});
            $("#id_send_to_teachers").prop("readonly", true).prop("checked", false).click(function(){return false});
        }

        $("#id_visible_by_tenure").click(function(){
            $("#id_visible_by_educ").prop("checked", true);
        });

        // Disable clicking agin on submit button.
        $("#submit-id-submit").click(function () {
            $(this).val("Demande en cours…");
        });

        // Show an alert about emails sending when selecting a retenue.
        /*$("#id_sanction_decision").change(function () {
            var alertBox = $("#alertBox");
            if ($("#id_sanction_decision option:selected").text().toLowerCase().includes("retenue")) {
                alertBox.text("Un message sera envoyé au titulaire de l'élève").fadeIn();
            } else {
                alertBox.hide().text("");
            }
        });*/
     </script>
</div>
