{% extends "core/base_vue.html" %}

{% block header %}
<title>HappySchool : Absences Élèves</title>

{% endblock %}
{% block content %}
{% load render_bundle from webpack_loader %}

<script>
    const current_app = "student_absence_teacher";
    const settings = JSON.parse('{{ settings|safe }}');;
    const menu = {{ menu|safe }};
    const filters = {{ filters|safe }};
    const proeco = {{ proeco|safe }};
</script>
<div id="vue-app"></div>

{% render_bundle 'student_absence_teacher' %}

{% endblock %}
