{% extends "core/base_vue.html" %}

{% load vite %}

{% block header %}
<title>HappySchool : Absences Élèves</title>

{% vite %}
{% vite 'student_absence_teacher/js/student_absence_teacher.js' %}

{% endblock %}
{% block content %}

<script>
    const current_app = "student_absence_teacher";
    const settings = JSON.parse('{{ settings|safe }}');;
    const menu = {{ menu|safe }};
    const filters = {{ filters|safe }};
    const proeco = {{ proeco|safe }};
</script>
<div id="vue-app"></div>

{% endblock %}
