{% extends "core/base_vue.html" %}

{% load vite %}

{% block header %}
<title>HappySchool : Retards</title>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="DC-Covers">
<meta name="msapplication-TileImage" content="link to the image in static folder">
<meta name="msapplication-TileColor" content="#000">

{% vite %}
{% vite "lateness/js/lateness.js" %}

{% endblock %}
{% block content %}

<script>
    const current_app = "lateness";
    const settings = JSON.parse('{{ settings|safe }}');
    const hasSettingsPerm = {{ hasSettingsPerm|safe }};
    const menu = {{ menu|safe }};
    const filters = {{ filters|safe }};
</script>
<div id="vue-app">
    <img class="loading-spin" src="/static/img/spin.svg" alt="Loading" />
</div>

{% endblock %}
