<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h3>Changement d'horaire</h3>
        <p>Un changement d'horaire a été ajouté/modifié pour le <strong>{{ change.date_change }}</strong> de type <em>{{ change.change }}</em>.</p>
        {% if change.time_start and change.time_end %}<p>Le changement a lieu entre <strong>{{ change.time_start }} et {{ change.time_end }}</strong>.</p>
        {% elif change.time_start and not change.time_end %}<p>Le changement a lieu à partir <strong>{{ change.time_start }}</strong>.</p>
        {% elif not change.time_start and change.time_end %}<p>Le changement a lieu jusqu'à <strong>{{ change.time_end }}</strong>.</p>{% endif %}
        <p>Classe(s) et/ou les année(s) concernée(s) : <em>{{ change.classes }}</em>.</p>
        <p>Prof/Educ(s) concerné(s) : <em>{% for teacher in change.teachers_replaced.all %}{{ teacher }},{% endfor %}</em></p>
        {% if change.teachers_substitute %}<p>Prof/Educ(s) remplacé(s) : <em>{% for teacher in change.teachers_substitute.all %}{{ teacher }},{% endfor %}</em></p>{% endif %}
        <p>Local/lieu : <em>{{ change.place }}</em>,</p>
        <p>Commentaire : «<em>{{ change.comment }}</em>».</p>
    </body>
</html>
