{% load render_bundle from webpack_loader %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Changement d'horaire</title>
</head>

<body>
    <script>
        var settings = {{ app_settings|safe }};
    </script>
<div id="vue-app">
    <header-menu :apps="menu"></header-menu>
    <BContainer>
        <BRow>
            <h2>Changement d'horaire</h2>
        </BRow>
        <BRow>
            <BFormGroup>
                <div>
                    <BButton-group>
                        <BButton
                            v-on:click="showModal('add-modal')"
                            variant="success"
                            >
                            Ajouter
                        </BButton>
                        <BButton
                            variant="light"
                            v-on:click="refresh"
                            >
                            <icon name="refresh" scale="1" :spin="isRefreshing"></icon>
                        </BButton>
                    </BButton-group>
                    <BButton variant="outline-secondary" v-b-toggle.filters>
                        Ajouter des filtres
                    </BButton>
                    <BButton :pressed.sync="active" variant="primary">
                        <span v-if="active">Afficher tous les changements</span>
                        <span v-else>Afficher les futurs changements</span>
                    </BButton>
                </div>
            </BFormGroup>
        </BRow>
        <BRow>
            <BCol>
                    <BCollapse id="filters">
                        <BCard>
                            <filters :filter-type-options="filterTypeOptions" :appe-socket="appeSocket"
                                :filter-search-options="filterSearchOptions" @update="setFilters" ref="filters"></filters>
                        </BCard>
                    </BCollapse>
                </BCol>
        </BRow>
        <BPagination :total-rows="entriesCount" v-model="currentPage" :per-page="per_page" v-on:change="changePage">
        </BPagination>
        <BCard no-body class="current-card d-none d-md-block d-lg-block d-xl-block">
            <BRow class="text-center">
                <BCol cols="2"><strong>Classe(s)</strong></BCol>
                <BCol cols="2"><strong>Activité</strong></BCol>
                <BCol cols="2"><strong>Professeurs</strong></BCol>
                <BCol cols="2"><strong>Lieu</strong></BCol>
                <BCol><strong>Remarque</strong></BCol>
            </BRow>
        </BCard>
        <schedule-change-entry
            v-for="(entry, index) in scheduleChangeEntries"
            v-bind:key="entry.id"
            v-bind:row-data="entry"
            v-on:delete="deleteEntry(entry.id)"
            v-on:edit="editEntry(index)"
            >
        </schedule-change-entry>
    </BContainer>
    <component v-bind:is="currentModal" ref="modal" :appe-socket="appeSocket"
        :teaching="settings.teaching" :options="modalOptions" :errors="modalErrors"
        ></component>
</div>

    {% load static %}
<script src="{% static "channels/js/websocketbridge.js" %}"></script>
{% render_bundle 'commons' %}
{% render_bundle 'schedule_change' %}
</body>
</html>
