{% load staticfiles %}
<div class="row">
    <div class="col-sm-4">
        <img id="photoProf" src="{% static '' %}photos_prof/{{ matricule }}.jpg" class="img-responsive" alt="Photo">
    </div>
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
</div>


<script>
$("option[value='default']").attr("disabled", "disabled")

 $('#nomForm').typeahead({
     ajax: '{% url "get_people_names" "all" "responsible" %}',
     items: 14,
     onSelect: function (suggestion) {
         $("input[name='id_person']").val(suggestion.value);
         {% load staticfiles %}
         $("#photoProf").attr("src", "{% static '' %}photos_prof/" + suggestion.value + ".jpg");
     }
 });
 $("#nomForm").focus();

 $('select').attr("required", "");

 $("#div_id_datetime_absence_start").datetimepicker({
    defaultDate: moment(),
    format: 'DD/MM/YYYY',
    locale: 'fr',
    sideBySide: false,
    allowInputToggle: true
});

$("#div_id_datetime_absence_end").datetimepicker({
    defaultDate: moment(),
    format: 'DD/MM/YYYY',
    locale: 'fr',
    sideBySide: false,
    allowInputToggle: true,
    useCurrent: false
});

$("#id_datetime_absence_start").on("dp.change", function (e) {
    $("#id_datetime_absence_end").data("DateTimePicker").minDate(e.date);
});

$("#id_datetime_absence_end").on("dp.change", function (e) {
    $("#id_datetime_absence_start").data("DateTimePicker").maxDate(e.date);
});
 </script>
